{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommendo</title>
    <link rel="icon" type="image/png" href="{% static "home/logo.png" %}">
    <link rel="stylesheet" href="{% static "home/user-home.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static "home/includes/footer.css" %}">

    {% if request.session.login_first %}
    <link rel="stylesheet" href="{% static "home/includes/fav_casts.css" %}">
    {% endif %}
  </head>
  <body>
    {% if request.session.login_first %}
    <div class="coverlay-container-outer">
      {% include "home/includes/fav_casts.html" %}
    </div>

    <div class="success">
      <div>
        Your preferences saved successfully
        <br>
        Redirecting please wait...
      </div>
    </div>
    
    <script src="{% static "home/includes/fav_casts.js" %}"></script>
    {% else %}
    
    <div class="movie-layout">
      <header class="navigation-header">
        <div class="logo-container">
          <img src="{% static "home/logo.png" %}" alt="Recommendo logo" class="logo" />
          <span class="logo-text">Recommendo</span>
        </div>

        <div class="includes">
          <div class="profile">
            {% if avatar_url %}
            <img src="{{ avatar_url }}" alt="avatar" id="userIcon" style="width:40px;height:40px;border-radius:50%;">
            {% else %}
            <img src="{% static "home/avatar.png" %}" alt="avatar" width="50px" id="userIcon">
            {% endif %}
            <div class="logout">
              <p>Hi ,{{ name }}</p>
              <form method="POST">
                <input type="hidden" name="selector" value="logout">
                {% csrf_token %}
                <button type="submit">logout</button>
              </form>
              <a href="{% url "auth_accreset_pass" %}" class="pass-change"><button>Change Password</button></a>
              <a href="{% url "auth_favs" %}" class="pass-change"><button>Your Favourite movies</button></a></button>
            </div>
          </div>
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="selector" value="search">
            <button type="submit" style="background: transparent; border:none; cursor:pointer;"><i class="fas fa-search" style="color: #fff; font-size: 20px;"></i></button>
          </form>
        </div>
      </header>

      <section class="hero-section">
        <div class="lol-overlay"></div>
        <div class="hero-slider">
          {% for slider in slider_data %}
          <div class="pic">
            <div class="slider-overlay"></div>
            <img src="{{ slider.backdrop_url }}" alt="{{ slider.title }}backdrop">

            <div class="hero-content">
              <div class="movie-tags">
                <span class="tag">{{ slider.year }}</span>
                <div class="tag rating">
                  <svg
                    width="14"
                    height="14"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.6902 5.05469C13.6902 5.16927 13.6225 5.29427 13.4871 5.42969L10.6511 8.19531L11.323 12.1016C11.3282 12.138 11.3308 12.1901 11.3308 12.2578C11.3308 12.3672 11.3035 12.4596 11.2488 12.5352C11.1941 12.6107 11.1147 12.6484 11.0105 12.6484C10.9115 12.6484 10.8074 12.6172 10.698 12.5547L7.19019 10.7109L3.68237 12.5547C3.56779 12.6172 3.46362 12.6484 3.36987 12.6484C3.2605 12.6484 3.17847 12.6107 3.12378 12.5352C3.06909 12.4596 3.04175 12.3672 3.04175 12.2578C3.04175 12.2266 3.04696 12.1745 3.05737 12.1016L3.72925 8.19531L0.885498 5.42969C0.75529 5.28906 0.690186 5.16406 0.690186 5.05469C0.690186 4.86198 0.836019 4.74219 1.12769 4.69531L5.04956 4.125L6.80737 0.570312C6.90633 0.356771 7.03394 0.25 7.19019 0.25C7.34644 0.25 7.47404 0.356771 7.573 0.570312L9.33081 4.125L13.2527 4.69531C13.5444 4.74219 13.6902 4.86198 13.6902 5.05469Z"
                      fill="#B3B3B3"
                    />
                  </svg>
                  <span>{{ slider.rating }}</span>
                </div>
              </div>
              <h1 class="movie-title">{{ slider.title }}</h1>
              <p class="movie-description">
                {{ slider.plot }}
              </p>
              <a href="{% url "single_movie" slider.code %}" style="color:white;width:70px;height:40px;background:red;text-decoration:none;padding:0.5rem;border-radius:6px;">View More</a>
            </div>
          </div>
          {% endfor %}
        </div>

        
      </section>

      <section class="domain-info">
        <h2>Your daily dose of movie magic ! Recommendo</h2>
      </section>

      
      <section class="movie-section">
        <div class="movie-header">
          <div class="starting"></div>
          <h2>{{ section1 }}</h2>
        </div>
        <div class="movie-grid" id="movieGrid">
          <button class="scroll-btn left" onclick="scrollMovies(this,-1)"><</button>
          <button class="scroll-btn right" onclick="scrollMovies(this,1)">></button>
          <div class="movie" id="trending">
            
            <div class="movie-loader-container"><div class="movie-loader"></div></div>
          </div>
        </div>
      </section>

      <section class="movie-section">
        <div class="movie-header">
          <div class="starting"></div>
          <h2>{{ section2 }}</h2>
        </div>
        <div class="movie-grid" id="movieGrid">
          <button class="scroll-btn left" onclick="scrollMovies(this,-1)"><</button>
          <button class="scroll-btn right" onclick="scrollMovies(this,1)">></button>
          <div class="movie" id="latest">
            
            <div class="movie-loader-container"><div class="movie-loader"></div></div>
          </div>
        </div>
      </section>


      <section class="movie-section">
        <div class="movie-header">
          <div class="starting"></div>
          <h2>{{ section3 }}</h2>
        </div>
        <div class="movie-grid" id="movieGrid">
          <button class="scroll-btn left" onclick="scrollMovies(this,-1)"><</button>
          <button class="scroll-btn right" onclick="scrollMovies(this,1)">></button>
          <div class="movie" id="top">
            
            <div class="movie-loader-container"><div class="movie-loader"></div></div>
          </div>
        </div>
      </section>

      <section class="movie-section">
        <div class="movie-header">
          <div class="starting"></div>
          <h2>{{ section4 }}</h2>
        </div>
        <div class="movie-grid" id="movieGrid">
          <button class="scroll-btn left" onclick="scrollMovies(this,-1)"><</button>
          <button class="scroll-btn right" onclick="scrollMovies(this,1)">></button>
          <div class="movie" id="favcasts">
            
            <div class="movie-loader-container"><div class="movie-loader"></div></div>
          </div>
        </div>
      </section>

    </div>

    {% include "home/includes/footer.html" %}

    <script src="{% static "home/user-home.js" %}"></script>
    <script src="{% static "home/includes/footer.js" %}"></script>

    {% endif %}
  </body>
</html>
