asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.2
colorama==0.4.6
dj-database-url==3.0.1
Django==5.2.4
django-widget-tweaks==1.5.0
filelock==3.18.0
gdown==5.2.0
gunicorn==23.0.0
idna==3.10
numpy==2.3.2
packaging==25.0
pandas==2.3.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytz==2025.2
requests==2.32.4
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
