<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification - Recommendo</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #ffffff; color: #ffffff; margin: 0; padding: 0;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #000000; padding: 30px; border-radius: 8px; box-sizing: border-box;">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="https://i.postimg.cc/hPWxMqR2/logo.png" alt="Logo" style="width: 100px; height: auto;">
            <h1 style="color: #ff5e57; font-size: 24px; margin: 0;">Recommendo</h1>
        </div>
        <p style="font-size: 16px; line-height: 1.5; margin: 10px 0;">Hello, {{ name }}!</p>
        <p style="font-size: 16px; line-height: 1.5; margin: 10px 0;">
            Thank you for signing up with Recommendo, your go-to platform for personalized movie recommendations!
            To complete your registration, please verify your email address by clicking the button below.
        </p>
        <a href="{{ link }}" style="display: inline-block; padding: 12px 25px; background-color: #ff5e57; color: #111111; font-size: 13px; text-decoration: none; border-radius: 5px; margin: 20px 0;">Activate My Account</a>
        <p style="font-size: 16px; line-height: 1.5; margin: 10px 0;">
            If you didn't sign up for Recommendo, please ignore this email. If you have any questions or
            need assistance, feel free to reach out to us.
        </p>
        <div style="text-align: center; font-size: 14px; color: #aaaaaa; margin-top: 30px;">
            <p style="font-size: 14px; color: #aaaaaa; margin: 10px 0;">© 2025 Recommendo, All Rights Reserved</p>
            <p style="font-size: 14px; color: #aaaaaa; margin: 10px 0;">Visit our <a href="http://127.0.0.1:8000/" style="color: #ff5e57; text-decoration: none;">website</a> for more information.</p>
        </div>
    </div>
</body>

</html>
